<div class="container">

<p class="lead">This is experimenting with <a href="https://projecteuler.net/problem=577" target="_blank">Euler Problem 577</a></p>

<div class="form" style="margin-bottom:12px">
    <label for="n">n:</label>
    <input id="n" type="number" [(ngModel)]="n" placeholder="n" />
    <button class="btn btn-primary" *ngIf="!algorithm.isRunning" (click)="algorithm.start()" >Start Algorithm</button>
    <button class="btn btn-warning" *ngIf="algorithm.isRunning" (click)="algorithm.stop()" >Stop Algorithm</button>
</div>

<app-workspace-view [workspace]="workspace" [algorithm]="algorithm"></app-workspace-view>
</div>